<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>显示学生信息</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link href="/webjars/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet" />
<link href="/webjars/bootstrap/3.3.5/css/bootstrap-theme.css" rel="stylesheet" />
<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.5/js/bootstrap.js"></script>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading text-center">
						<span class="panel-title">学生信息</span>
					</div>
					<div class="panel-body">
						编号：<span th:text="#{student.id}">2</span><br/> 
						姓名：<span th:text="#{student.name}">萌萌哒</span><br/> 
						性别：<span th:text="#{student.gender}">男</span><br/> 
						年龄：<span th:text="#{student.age}">20</span><br/> 
						电话：<span th:text="#{student.telephone}">15890905678</span><br/>
						name:<span th:text="#{student.name}"></span>
						<br/>
					</div>
					<div class="panel-footer text-right">
						<span class="panel-title">酒城工作室@2107</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
