<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>显示用户信息</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link href="/webjars/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet" />
<link href="/webjars/bootstrap/3.3.5/css/bootstrap-theme.css" rel="stylesheet" />
<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.5/js/bootstrap.js"></script>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<div class="panel panel-primary">
					<div class="panel-heading text-center">
						<span class="panel-title">用户信息1</span>
					</div>
					<div class="panel-body">
					    <!-- 变量表达式${...} -->
						编号：<span th:text="${user.id}"></span><br/> 
						用户名：<span th:text="${user.username}"></span><br/> 
						密码：<span th:text="${user.password}"></span><br/> 
						电话：<span th:text="${user.telephone}"></span><br /> 
						注册时间：<span th:text="${#dates.format(user.registerTime, 'yyyy-MM-dd hh:mm:ss')}"></span><br/>
						权限：<span th:text="${user.popedom==0?'管理员':'普通用户'}"></span><br/>
					</div>
					<div class="panel-footer text-right">
						<span class="panel-title">酒城工作室@2107</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5">
				<div class="panel panel-primary">
					<div class="panel-heading text-center">
						<span class="panel-title">用户信息2</span>
					</div>
					<div class="panel-body">
						<div th:object="${user}">
						    <!-- 选择变量表达式 *{...}-->
							编号：<span th:text="*{id}"></span><br/> 
							用户名：<span th:text="*{username}"></span><br/> 
							密码：<span th:text="*{password}"></span><br/> 
							电话：<span th:text="*{telephone}"></span><br/> 
							<!--采用#dates对象的format方法 -->
							注册时间：<span th:text="*{#dates.format(registerTime, 'yyyy-MM-dd hh:mm:ss')}"></span><br/>
							权限：<span th:text="*{popedom==0?'管理员':'普通用户'}"></span><br/>
						</div>
					</div>
					<div class="panel-footer text-right">
						<span class="panel-title">酒城工作室@2107</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
