<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>测试thymeleaf对象</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link href="/webjars/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet" />
<link href="/webjars/bootstrap/3.3.5/css/bootstrap-theme.css" rel="stylesheet" />
<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.5/js/bootstrap.js"></script>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-10">
				<div class="panel panel-primary">
					<div class="panel-heading text-center">
						<span class="panel-title">测试Thymeleaf对象</span>
					</div>
					<div class="panel-body">
						#ctx.#vars：<br/>
						<textarea th:text="${#ctx.#vars}" rows="10" cols="150"></textarea><br/> 
						喜欢看的书：<span th:text="${#vars.book}"></span><br/> 
						喜欢的城市：<span th:text="${#httpSession.getAttribute('city')}"></span><br/>
						你的国家：<span th:text="${#locale.country}+'-'+${#locale.getDisplayCountry()}"></span><br/>
						你的母语：<span th:text="${#locale.language}+'-'+${#locale.getDisplayLanguage()}"></span><br/>
						<hr/>
						时间：<span th:text="${#dates.format(#dates.createNow())}"></span><br/>
						收入：<span th:text="'￥'+${#numbers.formatDecimal(2345.5645345, 3, 2)}"></span><br/>
					</div>
					<div class="panel-footer text-right">
						<span class="panel-title">酒城工作室@2109</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
