<!DOCTYPE html>  
<html xmlns:th="http://www.thymeleaf.org">  
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script type="text/javascript" src="/webjars/angularjs/1.7.2/angular.min.js"></script>
<link href="/webjars/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet" />
<link href="/webjars/bootstrap/3.3.5/css/bootstrap-theme.css" rel="stylesheet" />
<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.5/js/bootstrap.js"></script>
<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/angularJs/angularUser.js"></script>
<title>用户信息首页</title>
</head>
<body ng-app="myApp" ng-controller="studentCtrl">
<div class="container">
<hr>
<h3>用户信息</h3>
<div class="container-fluid row2-app-contain" id="create-app-list">
    <div class="row classification-top">
        <div class="col-md-9 col-sm-5 row2-approval">        
            <span></span>
        </div>
        <div class="col-md-3 col-sm-7 row2-contain-add row2-app-add">
            <!-- <a class="new-app-form" data-toggle="modal" data-target="#add-user"> -->
            <a class="new-app-form" data-toggle="modal" ng-click="addUser()">
               <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
               <span>新增用户信息</span></a>
        </div>
    </div>
</div>
<table class="table table-striped">
  <caption>用户信息列表</caption>
  <thead>
    <tr>
      <th>用户ID</th>
      <th>名称</th>
      <th>昵称</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
  <div>
    <tr ng-repeat="user in list ">
      <td>{{user.userId}}</td>
      <td>{{user.username}}</td>
      <td>{{user.nickname}}</td>
      <td>  
      <a href="javascript:void(0);" data-toggle="modal" ng-click="toUpdateUser($event,{data:{userId:user.userId}})">修改</a>                      
      <a href="javascript:void(0);" data-toggle="modal" ng-click="getUserDetail($event,{data:{userId:user.userId}})">查看</a>
      <a href="javascript:void(0);" ng-click="deleteUser($event,{data:{userId:user.userId}})" >删除</a>     
      </td>
    </tr>  
    </div>
  </tbody>
</table>

<!-- 新增用户信息 -->
<div class="modal fade" id="add-user" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					创建用户信息
				</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal">
                  <div class="form-group">
                    <label class="col-sm-2 control-label">用户名字:</label>
                      <div class="col-sm-10">
                        <!--1.ng-model:为应用程序绑定 <input>元素 
                          2.ng-disabled:如果发生错误或者 incomplete = true 禁用 <button> 元素
                          -->
                         <input  type="text" ng-model="username" id="username" name="username" >                      
                     </div>
                  </div> 
                  <div class="form-group">
                    <label class="col-sm-2 control-label">用户昵称:</label>
                      <div class="col-sm-10">
                        <input type="text" ng-model="nickname" id="nickname" name="nickname">
                     </div>
                  </div>
               </form>				
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭
				</button>
				<button type="button" class="btn btn-primary" ng-click="saveUser()">
					提交
				</button>
			</div>
		</div>
	</div>
</div>

<!-- 更新用户信息 -->
<div class="modal fade" id="update-user" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					更新用户信息
				</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal">
                  <div class="form-group">
                    <label class="col-sm-2 control-label">用户名字:</label>
                      <div class="col-sm-10"> 
                         <input  type="text" ng-model="user.userId" hidden="true" id="user-id-update" name="id" >                    
                         <input  type="text" ng-model="user.username" id="user-name-update" name="username" >
                     </div>
                  </div> 
                  <div class="form-group">
                    <label class="col-sm-2 control-label">用户昵称:</label>
                      <div class="col-sm-10">
                        <input  type="text" ng-model="user.nickname" id="user-nickname-update" name="nickname">                        
                     </div>
                  </div>
               </form>				
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭
				</button>
				<button type="button" class="btn btn-primary" ng-click="updateUser()">
					提交
				</button>
			</div>
		</div>
	</div>
</div>


<!-- 查看用户信息明显 -->
<div class="modal fade" id="detail-user" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					用户信息明细
				</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal">
				<div class="form-group">
                    <label class="col-sm-2 control-label">用户ID:</label>
                      <div class="col-sm-10">                                        
                         <input disabled="true"　readOnly="true" type="text" ng-model="user.userId" id="user-name-detail" name="userId" >
                     </div>
                  </div> 
                  <div class="form-group">
                    <label class="col-sm-2 control-label">用户名字:</label>
                      <div class="col-sm-10">                                        
                         <input disabled="true"　readOnly="true" type="text" ng-model="user.username" id="user-name-detail" name="username" >
                     </div>
                  </div> 
                  <div class="form-group">
                    <label class="col-sm-2 control-label">用户昵称:</label>
                      <div class="col-sm-10">
                        <input disabled="true"　readOnly="true"  type="text" ng-model="user.nickname" id="user-nickname-detail" name="nickname">
                     </div>
                  </div>
               </form>				
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭
				</button>	
			</div>
		</div>
	</div>
</div>
</div>
</body>
</html>